/* Global CSS styles */

@import './noto-sans-japanese.css';

body {
  font-family: 'Prompt', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
